<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Footer</title>
</head>
<body>


	<footer class="footer">
		<div class="group-1">
			<div class="box">
				<figure>
					<a href="#">
						<img src="Lib_Img/Logo.png" alt="Logo-polotex">
					</a>
				</figure>
			</div>


			<div class="box">
				<h2>Ayuda sobre la cuenta</h2>
				<p>Inicio de Sesión</p>
				<p>Ayuda sobre perfil</p>
				<p>Ayuda sobre la configuración</p>
				<p>Seguridad</p>
			</div>
				

			<div class="box">
				<h2>Ayuda sobre pagos</h2>
				<p>Gestion de pagos</p>
				<p>Politicas de reembolso</p>
				<p>Formas de pago</p>
				<p>Ayuda sobre cobros</p>
			</div>





		</div>



	</footer>

</body>
</html>