<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Footer</title>
	<link rel="stylesheet" type="text/css" href="footer.css">
</head>

<body>
	<footer class="footer">
		<div class="group-1">
			<div class="box">
				<figure>	
						<img src="Lib_Img/Logo.png" alt="Logo-polotex">
				</figure>
			</div>


			<div class="box">
				<h2>Ayuda sobre la cuenta</h2>
				<p><a href="#">Inicio de Sesión<a/></p>
				<p><a href="#">Ayuda sobre perfil<a/></p>
				<p><a href="#">Ayuda sobre la configuración<a/></p>
				<p><a href="#">Seguridad<a/></p>
			</div>
				

			<div class="box">
				<h2>Ayuda sobre pagos</h2>
				<p><a href="#">Gestion de pagos<a/></p>
				<p><a href="#">Politicas de cambio y devoluciones<a/></p>
				<p><a href="#">Formas de pago<a/></p>
				<p><a href="#">Ayuda sobre cobros<a/></p>
			</div>
		</div>

	</footer>

</body>
</html>