<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Homeheader</title>
	<link rel="stylesheet" type="text/css" href="estilo_header.css">
</head>
<body>

	<header class="header">

		<div class="logo"><div><img src="Lib_Img/Logo.png" id="Peg"></div>POLOTEX</div>

		
		<input type="checkbox" id="toggle">
		<label for="toggle"><img src="Lib_Img/menu.svg" alt="menu"></label>

		<nav class="navigation"> 
				
			<ul>
				<li><span><a href="#">Inicio</a></span></li>
				<li><span><a href="#">Catálogo</a></span></li>
				<li><span><a href="#">Contáctenos</a></span></li>
				<li><span><a href="#">Mis pedidos</a></span></li>
				<li><span><a href="#">Mi cuenta</a></span></li>
			</ul>
			


		</nav>

	</header>


</body>
</html>