<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="pedido.css">
	<link rel="stylesheet" type="text/css" href="public/css/default.css">
	<title>pedidos</title>
</head>

<body>

  <div class="container">
  	<div class="orden">Orden#110834</div>
    <div class="row">
    	
      <div class="columna-1">
        <img src="blusa1.jpg" alt="Imagen del Producto" class="product-img">
      </div>
      <div class="columna-2">
        <div class="boxc2">Nombre del Producto:<p><input type="text" name=""></div>
        <div class="boxc2">Estado del pedido:<p><input type="text" name=""></div>
      </div>
      <div class="columna-3">
        <div class="boxc3">Fecha de Pedido:<p><input type="text" name=""></div>
        <div class="boxc3">Costo del Pedido:<p><input type="text" name=""></div>
      </div>
      <div class="columna-4">
        <button class="boxc4-1">Seguimiento</button>
        <button class="boxc4-2">Confirmar Recepción</button>
      </div>
    </div>
    <!-- Añade más filas de pedidos aquí si es necesario -->
  </div>




</body>
</html>