
.Account{
	color: white;
	font-family: sans-serif;
	padding-block: 5%;
	font-size: 50px;
	text-align: center ;
	background-color: slateblue;
	margin-bottom: 0;	
}

.Account .subtitle{
	font-size: 30%;
	color:#B4A8FF ;
}

.content-box {
display: flex;
background-color: white;
}

.basicI {
	background-color: slateblue;
	width: 40%;
	height: 750px;
}

.basicI img {
	margin-top: 30%;
	height: 70%;
	width: 100%;
}

.basic{
	color: white;
	background-color: slateblue;
}

.Title  {
	font-size: 55px;
	margin-bottom: 10%;
	color: #85848D;
}

.content-data {
margin-top: 5%;
margin-left: 12%;
list-style: none;
}

li{	
	padding-bottom: 5%;
}

input{
	border: solid #BEC2C5;
	border-radius: 5px;
	width: 400px;
	height: 30px;
	text-align: center;	
}

.content-box{
	background-color: white;
}

.content-box label{
	color:#565176;
	padding-inline-end: 2%;
	font-size: 80%;
	font-weight: italic;
	background-color: white;
}

.cerrar{
	background-color: #E8E8DE;
}

.cerrar label {
	font-size: 80px;
}

.cerrar .close {
	font-size: 20px;
	height:40px ;
	width: 20%;
	background: #4837b5;
	color: white;
	margin-left: 58%;
	margin-bottom: 5%;
	margin-top: 1%;
}

.cerrar .close:hover {
	background: #362B7C;
	color: whitesmoke;
	cursor: pointer;
	transition: .4s ease all  ;
}

.modifier {
	padding-top: 2%;
	background-color: #E8E8DE;
}

.modifier .modificar {
	font-size: 17px;
	width: 10%;
	margin-top: 1%;
	margin-left: 63%;
	background: #7DA71B;
	color: white;
}

.modifier .modificar:hover {
	background:#6FA022;
	cursor: pointer;
}