.container {
    max-width: 1380px;
    text-align: center;
    margin: auto;
}
.h2{
    align-items: flex-end;
}
.products{
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.title{
  display: flex;
  width: 100%;
}
h3{
  align-self: center;
}
.vermas{
  padding: 10px;
  border-radius: 7px;
  background: #CACFD2;
  display: block;
  margin-left: auto;
  margin-right: 8%;
  align-self: center;
  clear: right;
  color: black;
}
.vermas:hover{
  background: #f2f2f2;
}

.carts{
    max-width: 250px;
    box-shadow: 0 3px 15px rgb(0 0 0 / 65%);
    padding-bottom: 34px;
    margin-bottom: 40px;
}
.carts img{
    width: 100%;
    height: 100%;
}
.producto-titulo {
    text-transform: capitalize;
}
.carts p{
    font-family: inherit;
    font-weight: 50%;
    padding: 0 20px;
    margin-bottom: 20px;
}
.carts div p{
    position: absolute;
    top: 0;
    right: 0px;
    background-color: red;
    color: #fff;
    padding: 2px 6px 4px 21px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.carts div{
    position: relative;
}
.carts a{
    font-family: system-ui;
    text-decoration: none;
    background: black;
    padding: 9px 23px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.carts a:hover{
    background: #fff;
    color: red;
    border: solid 2px red;
    transition-duration: .3s;
}

/*float cart*/
.cart-products .item img{
    width: 115px;
}

.cart-products .item{
    display: flex;
    align-items: center;
    border-bottom: solid 2px red;
}
.cart-products .item .item-content{
    margin: 0 19px;
    width: 300px;
}
.cart-products .item .item-content h4{
    margin: 0;
    font-size: 10px;
    font-weight: 100;
    font-family: system-ui;
}
.cart-products .item span{
    background-color: red;
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
}
.cart-products .item .item-content h4.cart-price{
    font-weight: 100;
}

/*stye to btn close*/
p.close-btn{
    top: -4px;
    right: 6px;
    cursor: pointer;
    color: #000;
}
p.author {
    display: flex;
    justify-content: center;
    FONT-VARIANT: JIS04;
    margin-top: 3%;
    gap: 7px;
}
p.author a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}